
.preview-box {
  background-color: hsl(216, 95%, 48%);
  color: white;
  padding: 3px 4px;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.page {
  min-height: 100vh;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.dark-page {
  background-color: #3c3b3b; 
  color: white;
}
.bg-gray-transparent {
  background-color: rgba(174, 186, 186, 0.5); 
}
.text-white::placeholder{
  color:white
}

.bg-success {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}
.alert-transition{
  transform: translateY(0);
  transition: opacity 0.4s ease , transform 0.4s ease;
}
.alert-transition {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.alert-hidden {
  opacity: 0;
  transform: translateY(-10px);
}
