
.preview-box {
  background-color: hsl(216, 95%, 48%);
  color: white;
  padding: 3px 4px;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.page {
  min-height: 100vh;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.dark-page {
  background-color: #3c3b3b; 
  color: white;
}
.bg-gray-transparent {
  background-color: rgba(174, 186, 186, 0.5); 
}
.text-white::placeholder{
  color:white
}

