
.preview-box {
  background-color: hsl(216, 95%, 48%);
  color: white;
  padding: 3px 4px;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

